@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
}

.logo {
    display: inline-block;
    width: 400px;
}
nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    display: inline-block;
    position: absolute;
    right: 0;
    font-family: 'Open Sans', sans-serif;
}
nav a { 
    text-decoration: none;
    color: black;
    margin: 1.8em;
    display: inline-block;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
div {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}
#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
    font-family: 'Cormorant', serif;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
    color: white;
    background: url('../image/tijan.jpg');
    background-size: cover;
    background-position: center center;
}
#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 30%;
}

.tijan {
    width: 30%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
  width: 50%;
  height: 6em;
  outline: 3px solid #222;
    text-align: center;
  line-height: 6em;
  color: #000;
  background: #fff;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 10px;
        border: 3px solid red;
    }

    .em-unit {
    background-color: #FF6A5E;
    width: 4em;
    height: 2em;
}